@model RoleViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>


    <partial name="PartialViews/DetailsDeleteRolePartialView" />



    <a asp-controller="Role" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-controller="Role" asp-action="Index" class="btn btn-light">Back To List</a>
</div>