@model RoleViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Update</h1>

<form asp-action="Edit" asp-controller = "Role" enctype="multipart/form-data">

    <partial name="PartialViews/EditCreateRolePartialView" />


    <a asp-controller="Role" asp-action="AddOrRemoveUser" asp-route-roleId = "@Model.Id" class="btn btn-success">Add Or Remove User</a>

    <input type="submit" value="Save" class="btn btn-primary" />
    <a asp-controller="Role" asp-action="Index" class="btn btn-light">Back To List</a>
</form>

@section Hamada
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}