
@{
    ViewData["Title"] = "CheckYourEmail";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<div class="main-w3layouts wrapper">
	<h1>SignIN Form</h1>
	<div class="main-agileinfo">
		<div class="agileits-top">
			
			<div>
				<p>
					Reset Password link Has been set to your Email, please Check your inbox
				</p>
			</div>
			<div>
				<a href="https://mail.google.com" target="_blank">Your Inbox</a>
			</div>

		</div>
	</div>

