@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<div class="main-w3layouts wrapper">
	<h1>Reset Password</h1>
	<div class="main-agileinfo">
		<div class="agileits-top">
			<form asp-action="ResetPassword">

				<input class="text" asp-for="Password" placeholder="Password" required="">
				<input class="text w3lpass" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">


				<div class="wthree-text">
					<div class="clear"> </div>
				</div>
				<input type="submit" value="Reset">
			</form>
		</div>
	</div>
